.u-bottom{
    border-bottom: 1px solid gray;
}

.mg-top-40{
    margin-top:40px;
}
.u-sp-top{
    margin-top:15px;
}

.u-hr-sp{
    margin-left:15px;
}
.u-font-24{
    font-size: 25px;
}

.center-items{
    justify-content: center;
}
h2{
    font-weight: bolder;
}